.ui-a { background-image: url("../../jquery-ui/ui-icons_b65e00_256x240.png"); }
.ui-b { background-image: url("ui-icons_b65e00_256x240.png"); }
.ui-c { background-image: url("images/sss/jquery-ui/ui-icons_005a94_256x240.png"); }
.ui-d { background-image: url("images/a/ui-icons_003e66_256x240.png"); }
.ui-e { background-image: url("/ui-icons_ffffff_256x240.png"); }
.ui-f { background-image: url("jquery-ui/ui-icons_454545_256x240.png"); }
.ui-g { background-image: url("/ui-icons_005a94_256x240.png"); }
.ui-h { background-image: url("ui-icons_d10000_256x240.png"); }